apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: fiber-app
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  labels:
    app.kubernetes.io/name: fiber-app
    app.kubernetes.io/part-of: devops-demo
spec:
  project: default
  source:
    repoURL: https://github.com/psteger/DevOpsDemo2025.git
    targetRevision: HEAD
    path: k8s
    kustomize:
      images:
        - IMAGE_PLACEHOLDER=${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/${IMAGE_REPO}:${IMAGE_TAG}
  destination:
    server: https://kubernetes.default.svc
    namespace: fiber-app
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
      - CreateNamespace=true
      - PrunePropagationPolicy=foreground
      - PruneLast=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
  revisionHistoryLimit: 3